* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    grid-template-rows: 1080px auto auto auto 100px;
}

/* Start of Header */

.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 100px;
    position: fixed;
    background-color: black;
    z-index: 1;
}

.title {
    margin-right: 20px;
    padding-right: 20px;
    width: 60%;
    display: flex;
    align-items: center;
}

.title h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 40px;
    color: white;
}

.title h5 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 20px;
    color: white;
    margin-left: 20px;
}

.slogan {
    margin-left: 20px;
    border-left: 1px solid white;
}

/* End of Header */
/* Start of Intro */

.intro {
    grid-column: 2;
    grid-row: 1 / span 1;
    display: flex;
    border-bottom: 1px black solid;
    padding-bottom: 50px;
    margin-top: 175px;
}

.intro_text {
    width: 60%;
}

.intro h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 150px;
    text-transform: uppercase;
}

.intro h5 {
    font-family: 'Roboto Mono', monospace;
    font-size: 90px;
}

.menu {
    height: 70%;
    margin-top: 50px;
    background-color: black;
    padding: 20px 60px;
    margin-left: 60px;
}

.menu ul {
    list-style: none;
}

.menu li {
    margin: 25px 0;
}

.menu a {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.menu a:hover {
    color: black;
    background-color: white;
}

#about {
    font-size: 30px;
    font-weight: 300;
}

#about_website {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 300;
}

/* End of Intro */
/* Start of Projects */

.projects {
    grid-column: 2;
    grid-row: 3 / span 1;
    border-bottom: 1px black solid;
    padding-bottom: 50px;
}

.section_title {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    margin-top: 20px;
    display: block;
    text-align: center;
}

.section_des {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.project_container {
    display: flex;
    justify-content: center;
}

.project_block {
    min-width: 45%;
    max-width: 45%;
    margin: 20px;
    padding: 20px;
    border: 2px black solid;
    box-shadow: 5px 10px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.2s;
}

.project_block:hover > .github_link {
    color: white;
}

.project_block:hover {
    background-color: black;
    color: white;
}

.block_title {
    font-family: 'Nunito', monospace;
    font-size: 25px;
}

.block_des {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 20px;
}

.block_tag {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 15px;
    margin-top: 10px;
}

.github_link {
    float: right;
    color: black;
}

@media (max-width: 800px) {
    .intro, .project, .guides, .blog {
        margin: 0 20px;
    }
}

/* End of Projects */
/* Start of Guides */

.guides {
    grid-column: 2;
    grid-row: 2 / span 1;
    border-bottom: 1px black solid;
    padding-bottom: 200px;
}

.guide_content {
    display: flex;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
}

.guide_block {
    width: 25%;
    margin: 20px;
    padding: 20px;
    border: 2px white solid;
}

.guide_block ul {
    list-style: none;
}

.guide_block li {
    margin-top: 10px;
    padding: 5px;
}

.guide_block a {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    border: 2px solid white;
    color: black;
}

#guide_main {
    font-size: 25px;
    font-weight: 500;
}

@keyframes flicker {
    0% {
        background-color: white;
        color: black;
    }
    50% {
        background-color: black;
        color: white;
    }
    100% {
        background-color: white;
        color: black;
    }
}

.flicker a:hover {
    animation-name: flicker;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* End of Guides */
/* Start of Content */

.blog {
    grid-column: 2;
    grid-row: 4 / span 1;
    padding-bottom: 50px;
    border-bottom: 1px black solid;
}

.blog_container {
    display: flex;
    justify-content: center;
}

.blog_block {
    min-width: 30%;
    width: 30%;
    min-height: 75%;
    margin: 20px;
    padding: 20px;
    border: 2px black solid;
    box-shadow: 5px 10px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.2s;
}

.block_img {
    width: 100%;
    height: auto;
    border: 2px black solid;
    margin: 10px 0;
}

.medium_link {
    float: right;
    color: black;
}

.blog_block:hover > .medium_link {
    color: white;
}

.blog_block:hover > .block_img {
    border: 2px white solid;
}

.blog_block:hover {
    background-color: black;
    color: white;
}

#medium {
    color: black;
}

/* End of Content */
/* Start of Footer */

.footer {
    grid-column: 1 / span 5;
    grid-row: 5 / span 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer h5 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 20px;
}

.socials i {
    margin-left: 20px;
}

#linkedin {
    color: #2867B2;
}

#github {
    color: black;
}

#youtube {
    color: #FF0000;
}